soap/src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e8123966-11a0-45f3-b02e-d5f9a82caeb0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="02965c46-541b-43eb-a1cf-0e1bb03b4b7a" >
		<wsc:connection wsdlLocation="https://www.dataaccess.com/webservicesserver/NumberConversion.wso?WSDL" service="NumberConversion" port="NumberConversionSoap" address="https://www.dataaccess.com/webservicesserver/NumberConversion.wso" />
	</wsc:config>
	<flow name="soapFlow" doc:id="a8b25d79-084d-44b2-a04e-a5f698f566d2" >
		<http:listener doc:name="Listener" doc:id="27bf8350-0027-4925-b311-12ff403693da" config-ref="HTTP_Listener_config" path="soap"/>
		<ee:transform doc:name="Transform Message" doc:id="0a9c80ab-306d-4c28-acfd-452ecd589d0b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.dataaccess.com/webservicesserver/
---
{
	ns0#NumberToWords: {
		ns0#ubiNum:payload.value1
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="d9c0e50a-c365-43a6-86da-16cc297db708" config-ref="Web_Service_Consumer_Config" operation="NumberToWords"/>
		<ee:transform doc:name="Transform Message" doc:id="db3070ac-e5d7-4fcd-b101-5aef087f61a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://www.dataaccess.com/webservicesserver/

output application/json
---
{
"result":payload.body.ns0#NumberToWordsResponse.ns0#NumberToWordsResult}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
