consume2/src/main/mule/consume2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="87062611-3f97-46cf-bf79-9bf7a75e8908" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="afba0051-9834-42ff-9ec4-fb024a01f0dd" >
		<wsc:connection wsdlLocation="https://www.learnwebservices.com/services/hello?WSDL			" service="HelloEndpointService" port="HelloEndpointPort" address="https://www.learnwebservices.com/services/hello" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="consume2Flow" doc:id="ae68ecc4-ba1b-411e-8abd-7c3478edb410" >
		<http:listener doc:name="Listener" doc:id="bb9945ea-05b7-441e-b0e8-e0773eb8ce7f" config-ref="HTTP_Listener_config" path="/consume2"/>
		<ee:transform doc:name="Transform Message" doc:id="f59f3e79-5477-461e-affa-f66fdbac2b5b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://learnwebservices.com/services/hello
---
{
	ns0#SayHello: {
		ns0#HelloRequest: payload
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="SayHello" doc:name="Consume" doc:id="0ba9664a-e98a-4178-94d2-cda86d1bb623" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="1bb928a5-69fa-4e47-92f6-5aa815c3ec64" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://learnwebservices.com/services/hello

output application/json
---
{
 "greetings" :payload.body.ns0#SayHelloResponse.ns0#HelloResponse.ns0#Message
 }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
