dwl/src/main/mule/dwl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="04408c76-09e1-46ff-bfb4-bf599a30092d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dwlFlow" doc:id="fd162d7d-1659-449d-af6d-760db4bd936a" >
		<http:listener doc:name="Listener" doc:id="61c8c323-6681-4e76-b1da-d5eef6a1e330" config-ref="HTTP_Listener_config" path="/dwl"/>
		<ee:transform doc:name="Transform Message" doc:id="56b5cfe6-e97a-479f-acad-da6ea99e5d8c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output json
---
payload.order.fulladdress.Country
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
