readopdemo/src/main/mule/readopdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="408231c9-1e68-4c37-97b3-356214e4ef55" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="readtxt" doc:name="File Config" doc:id="c17af068-2917-47b4-ab68-aebf91886a7d" >
		<file:connection workingDir="C:\Users\Lenovo\Desktop\New folder" />
	</file:config>
	<file:config name="writefile" doc:name="File Config" doc:id="0cbe9ffa-c6a6-41e2-af69-6282c163f678" >
		<file:connection workingDir="C:\Users\Lenovo\Desktop\New folder\writefile" />
	</file:config>
	<file:config name="writeFile_Config" doc:name="File Config" doc:id="0959432f-9f4b-4d85-aa33-6de7c60a05e1" >
		<file:connection workingDir="C:\Users\Lenovo\Desktop\New folder\writefile" />
	</file:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="cf5691a4-b9af-4c58-8234-b871a5e90edc" >
		<file:connection workingDir="C:\Users\Lenovo\Desktop\New folder\writefile" />
	</file:config>
	<flow name="readopdemoFlow" doc:id="825e1c05-ebef-4fdc-b08f-8e6d01a4c8fc" >
		<http:listener doc:name="Listener" doc:id="33347fd0-6d3b-40bb-8ef8-99eff6c0075f" config-ref="HTTP_Listener_config" path="readopdemo"/>
		<file:read doc:name="Read" doc:id="a4005194-0caa-44a4-8c42-842e42961ad1" config-ref="readtxt" path="readtxt.txt" target="read"/>
		<choice doc:name="Choice" doc:id="832f7f62-7e0a-4329-abac-05c4cce7f10e" >
			<when expression='isEmpty(payload)'>
				<file:write doc:name="Write" doc:id="316c8e75-8f6d-47cc-8f0a-438741586894" config-ref="File_Config" path="writefile1" mode="CREATE_NEW">
					<file:content ><![CDATA[#[" hi charishma"]]]></file:content>
				</file:write>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="ff599f78-a101-4d40-ab4c-5e3b221af637">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{

    "Name": "charishma",
    "FileOutput": vars.read
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name=" read Logger" doc:id="76060fb4-e41c-41fe-b85e-3368048fcd42" message="#[payload]" />
				<file:write doc:name="Write" doc:id="8695e2aa-340d-4ac5-9b8c-1d0e1015cf3c" config-ref="writeFile_Config" path="writetxt" mode="APPEND" />
			</otherwise>
		</choice>
		<set-payload value="Text written successfully" doc:name="Set Payload" doc:id="646e7212-af2a-4538-b79e-bd2ec5745e96" />
		<logger level="INFO" doc:name="Logger" doc:id="ac19bfad-5e0c-4892-9cc6-d99a1a0784af" message="Text written successfully"/>
	</flow>
</mule>
