httplistener/src/main/mule/httplistener.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="0f69d43d-a27b-4b15-9f5c-e7ae2ebd1eb6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration3" doc:name="HTTP Request configuration" doc:id="056c0ef3-40ab-48e4-893f-5c3c01986049" >
		<http:request-connection host="charishma1.us-e2.cloudhub.io" />
	</http:request-config>
	<flow name="httplistenerFlow" doc:id="3b4a404c-5dd1-40a7-86ff-81547d1fdcfa" >
		<http:listener doc:name="Listener" doc:id="6492c2d7-bbb1-45a5-a497-a89d898edc23" config-ref="HTTP_Listener_config1" path="/httplistener" outputMimeType="application/json"/>
		<set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="2962c8cd-9d0d-49cd-8aa1-e0d5d026c81a" variableName="Correlationid "/>
		<logger level="INFO" doc:name="Logger" doc:id="272afff5-c3e5-49d0-a5c7-57e2eefce7a9" message="Correlationid -#[vars.Correlationid]"/>
		<ee:transform doc:name="Transform Message" doc:id="444f417d-96f0-4567-b784-102d963dc311" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
 "name" : "charishma",
 "Roll no" : 124
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f133db6c-60a6-4bcf-8cae-bb4b1be8cd78" message="#[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="d7a59e62-0559-45f6-b9a4-dbd8655d732a" config-ref="HTTP_Request_configuration3" path="/project" target="response"/>
		<logger level="INFO" doc:name="Logger" doc:id="a80fb8b9-c8f0-41e2-be79-e29112246682" message="Correlationid -#[vars.Correlationid] -recieved response -#[vars.response]"/>
	</flow>
</mule>
