raiseerror/src/main/mule/raiseerror.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="93d45b48-6045-408e-9365-6e66d78b04b4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration doc:name="Configuration" doc:id="e80282b5-ebde-4fae-ae30-7fe6090d7a0e" defaultErrorHandler-ref="GLOBAL_CONFRIGURATIONError_Handler" />
	<configuration doc:name="Configuration" doc:id="e25b8ea3-a478-46da-abc9-2c58eb8bf37a" defaultErrorHandler-ref="GLOBAL_CONFRIGURATIONError_Handler" />
	<flow name="raiseerrorFlow" doc:id="f4962969-40dd-4660-be78-03cfc05dcf43" >
		<http:listener doc:name="Listener" doc:id="7f93ca32-9ae6-4787-a6a2-612dd071bf6b" config-ref="HTTP_Listener_config" path="/raise"/>
		<choice doc:name="Choice" doc:id="64123e0a-2a70-4793-9d68-30065459051d" >
			<when expression="#[isEmpty(payload)]">
				<raise-error doc:name="Raise error" doc:id="982e556b-61fb-4a4c-997a-159184a501e5" type="NO:PAYLOAD" description="PAYLOAD IS NOT RECIEVED"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="d6f9739b-c9ea-4672-8327-02595e257b5f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"HELLO"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
